# Ignore general
/.*
!.gitignore
*~
._*
*.bak

# Ignore Gradle
/.gradle/
build/

# Ignore IntelliJ - could use "/**/*.iml" to catch all .iml files, but that requires a somewhat recent Git version
/out/
modules/Core/Core.iml
facades/PC/PC.iml
engine/engine.iml
engine-tests/engine-tests.iml
/*.iml
/*.ipr
/*.iws

# Ignore Eclipse
.checkstyle
.project
.classpath
.settings/
bin/
facades/PC/Terasology.launch

# Ignore Linux
*.directory

#Ignore OSX
Icon
Icon?

#Ignore Windows
ehthumbs.db
Thumbs.db

# Ignore Terasology output
*.log
/saves/
/screenshots/
/logs/
config.cfg
entityDump.txt

# Historical Output
/SAVED_WORLDS/
/worlds/
/screens/
/unittesthome/

# Ignore natives (extracted to project root during setup)
/natives/

# Ignore subdirs with their own Git roots. PC Facade and Core module are bundled with the main repo.
extensions
/facades/*
!/facades/PC
!/facades/subprojects.gradle
/modules/*
!/modules/Core
!/modules/subprojects.gradle

libs

# Ignore weird stuff that might be obsolete
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
