SAVED_WORLDS
logs
out
target
.DS_Store
Terasology.iml
Terasology.ipr
Terasology.iws
.idea
.classpath
.project
.settings
.gradle
.gitignore
bin
src/main/Main.iml
src/perfTest/PerfTest.iml
src/test/Test.iml
