# Ignore general
*~
._*
*.bak
/.*

# Except this stuff
!.gitattributes
!.gitignore
!.github

# Ignore Gradle, including local override properties (template file available under /templates)
build/
gradle.properties

# Ignore IntelliJ - could use "/**/*.iml" to catch all .iml files, but that requires a somewhat recent Git version
/out/
modules/Core/Core.iml
modules/CoreSampleGameplay/CoreSampleGameplay.iml
modules/BuilderSampleGameplay/BuilderSampleGameplay.iml
facades/PC/PC.iml
facades/TeraEd/TeraEd.iml
engine/engine.iml
engine-tests/engine-tests.iml
/*.iml
/*.ipr
/*.iws

# Ignore Eclipse
.checkstyle
.project
.classpath
.settings/
bin/
facades/PC/Terasology.launch

# Ignore Linux
*.directory

#Ignore OSX
Icon

#Ignore Windows
ehthumbs.db
Thumbs.db

# Ignore Terasology output
*.log
/saves/
/screenshots/
/logs/
/terasology-server/
/terasology-2ndclient/
config.cfg
entityDump.txt

# Historical Output
/SAVED_WORLDS/
/worlds/
/screens/
/unittesthome/

# Ignore stuff we extract for use with Terasology
/natives/
config/metrics/

# Ignore subdirs with their own Git roots. PC Facade and Core module are bundled with the main repo.
extensions
/facades/*
!/facades/PC
!/facades/TeraEd
!/facades/subprojects.gradle
/modules/*
!/modules/Core
!/modules/CoreSampleGameplay
!/modules/BuilderSampleGameplay
!/modules/subprojects.gradle
/meta/*
!/meta/subprojects.gradle
/libs/*
!/libs/subprojects.gradle

# Ignore weird stuff that might be obsolete
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

