# Force default for all text just in case - commit with LF, check out with OS-specific line endings
* text=auto

*.bat          text eol=crlf
*.block        text
*.command      text eol=lf
*.glsl         text
*.gradle       text
*.groovy       text
*.html         text diff=html
*.java         text diff=java
*.markdown     text
*.py           text diff=python
*.properties   text
*.sh           text eol=lf
*.shape        text
*.texinfo      text
*.txt          text
*.xml          text diff=html 

*.blend        binary
*.exe          binary
*.jar          binary
*.keystore     binary
*.png          binary

gradlew        text eol=lf
LICENSE        text
NOTICE         text
