<!-- This configuration is used when running from IntelliJ, since it insists on compiling the logback.groovy config and
     removing it from the classpath :/ -->
<configuration debug="true" scan="true">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/Terasology.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.terasology" level="INFO"/>

    <root level="debug">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>