<!-- Copyright 2022 The Terasology Foundation -->
<!-- SPDX-License-Identifier: Apache-2.0 -->
<configuration debug="false">
  <!-- debug: reports all changes to this configuration on System.out -->

  <!-- Propagate all log level changes to java.util.logging -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <!-- rules to create regular expression filters -->
  <newRule pattern="*/appender/denyRegex" actionClass="org.terasology.logback.RegexFilterAction" />
  <newRule pattern="*/appender/requireRegex" actionClass="org.terasology.logback.RegexFilterAction" />

  <!-- allow include inside appenders (logback 1.2.11 only enabled Include on the root config by default.) -->
  <newRule pattern="*/appender/include" actionClass="ch.qos.logback.core.joran.action.IncludeAction" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>

    <include resource="org/terasology/engine/logback/filter-reflections.xml" />
  </appender>

  <root level="${logOverrideLevel:-debug}">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="org.terasology" level="${logOverrideLevel:-info}" />
  <logger name="org.terasology.engine.i18n" level="warn" />
  <logger name="org.reflections.Reflections" level="warn" />

</configuration>
