<!-- Copyright 2022 The Terasology Foundation -->
<!-- SPDX-License-Identifier: Apache-2.0 -->
<configuration>

  <!-- Report all changes to this configuration on System.out -->
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>

    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>
        <matcher>
          <Name>reflectionsEmpty</Name>
          <regex>given scan urls are empty</regex>
        </matcher>
        <matcher>
          <Name>reflectionsBenchmark</Name>
          <regex>could not get type for name org\.terasology\.benchmark</regex>
        </matcher>

        <expression>
          reflectionsEmpty.matches(message)
          || reflectionsBenchmark.matches(message)
        </expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
  </appender>

  <root level="${logOverrideLevel:-debug}">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="org.terasology" level="${logOverrideLevel:-info}" />
  <logger name="org.terasology.engine.i18n" level="warn" />
  <logger name="org.reflections.Reflections" level="warn" />

</configuration>
