# This is the default configuration for the game server
# It sets up the default game, modules, and world generator

worldGenerationSeed=JoshariaSeed
defaultWorldGenerator=JoshariasSurvival:JoshariasSurvival
gameTitle=Ludus World
modules=JoshariasSurvival,Core,Engine,CoreAdvancedAssets,CoreRendering,CoreSampleGameplay,Pathfinding,Equipment,LightAndShadow,StructureTemplates,Tasks

# Network settings
networkMode=DEDICATED_SERVER
onlineMode=false

# Logging and save directory
writeSaveGamesEnabled=true
