<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Report all changes to this configuration on System.out -->
  <!--statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /-->

  <!-- Propagate all log level changes to java.util.logging -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${logOverrideLevel:-debug}">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="org.terasology" level="${logOverrideLevel:-info}" />
  <logger name="org.reflections.Reflections" level="${logOverrideLevel:-warn}" />

</configuration>
