<configuration debug="false">
  <!-- debug: reports all changes to this configuration on System.out -->

  <include resource="org/terasology/engine/logback/setup.xml" />

  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
      <key>phase</key>
      <defaultValue>init</defaultValue>
    </discriminator>
    <timeout>30 seconds</timeout>
    <sift>
      <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFileFolder}/Terasology-${phase}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>${logFileFolder}/Terasology-${phase}-%d{yyyy-MM-dd}.log</fileNamePattern>

          <!-- keep 3 days' worth of history -->
          <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${logOverrideLevel:-debug}">
    <appender-ref ref="SIFT" />
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="org.terasology" level="${logOverrideLevel:-info}" />
  <!-- NOTE You can add fine granular custom log-level overrides here.
            This works in both ways, i.e., you can increase or decrease the log level for specific packages or classes.

  <logger name="org.terasology.engine.world" level="debug" />
  <logger name="org.terasology.module.health.systems.HealthAuthoritySystem" level="error" />
  -->

  <!-- 3rd party overrides, e.g., because we cannot catch and hide some expected exceptions happening off-thread -->
  <logger name="org.reflections.Reflections" level="error" />
  <logger name="com.snowplowanalytics" level="error" />
  <logger name="io.netty" level="warn" />
  <logger name="com.jagrosh.discordipc" level="OFF"/>
</configuration>
